.changeNav_H{
    height: 80px;
    padding-top: 16px;
}
.changImg_mar{
    margin-top: -13px;
    margin-right: 170px;
}

.font-size{
    font-family: 微软雅黑;
    font-size: 16px;
}
.rowChangHeight{
    margin-top: -18px;
    height: 342px;
}
.rowChangHeight2{
    margin-top: 90px;
}
.breadcrumb{
    background: #fff !important;
}
/*轮播导航部分------------------------------------------------------------------------------*/
.parent{
    position: relative;
}
.nav-left {
    width: 312px;
    height: 343px;
    /*background: rgba(0, 0, 0,0.4);*/
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 16px;
}
.nav-ul{
    margin: 23px 30px 0 22px;
}
.nav-ul ul, p{
    color: #fff;
    list-style: none;
}
.nav-ul p{
    font-size: 18px;
    font-weight: bold;
}
.nav-ul ul li {
    float: left;
    margin-left: 9px;
    font-family: 宋体;
    font-size: 16px;
}
.changHeight{
    height:342px;
}
.changHeight img{
    height: 100% !important;
}
.changMarginLeft{
    margin-left: 243px !important;
}.changWidth{
     width: 1230px !important;
 }
/*-------------------------------------------*/
/*======================第二幕=======*/
.se2_changMarin{
    margin-top: 54px;
}
.se_nav-ul{
    list-style: none;

}
.ul-default{
    /*border-bottom: 1px solid silver ;*/
    overflow: hidden;
}
.se_nav-ul li{
    float: left;
    width: 150px;
    border-bottom: 2px solid silver;
}
.se_nav-ul li a{
    width: 100%;
    height: 40px;
    text-align: center;
    display: inline-block;
    font-family: 华文楷体;
    font-size: 19px;
    text-decoration: none;
    color: #0f0f0f;

}
.active_bottom{
    border-color: green !important;
}
.se2_row2_maring-top_chang{
    margin-top: 31px;
}
.span_parent{
    position: relative;
}
.span_posi{
        position: absolute;
        bottom: 0;
        left: 50%;
}
.se2_row_row_changMar_top{
    margin-top: 18px !important;
}
.changMarginLeft1{
    margin-left: 7px !important;
}
#row_col_md_8{
    margin-top: 76px;
}
.img_margin_Top{
    margin-top: 18px;
    margin-left: 18px;
}
#img_margin_left{
    margin-left: 18px;
}
/*======================================*/
/*--------------------第三内容--------------*/
#se3_contaniter{
    margin-top: 40px;
}

/*————————————————————————————————————————————*/

