.changeNav_H{
    height: 80px;
    padding-top: 16px;
}
.changImg_mar{
    margin-top: -13px;
}

.font-size{
    font-family: 微软雅黑;
    font-size: 16px;
}
.rowChangHeight{
    margin-top: -18px;
}
.rowChangHeight2{
    margin-top: 90px;
}
.breadcrumb{
    background: #fff !important;
}
/*轮播导航部分------------------------------------------------------------------------------*/
.parent{
    position: relative;
}
.nav-left {
    width: 312px;
    height: 343px;
    /*background: rgba(0, 0, 0,0.4);*/
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 16px;
}
.nav-ul{
    margin: 23px 30px 0 22px;
}
.nav-ul ul, p{
    color: #fff;
    list-style: none;
}
.ul_li_a li a{
    color: white;
    text-decoration: none;
}

.nav-ul p{
    font-size: 18px;
    font-weight: bold;
}
.nav-ul ul li {
    float: left;
    margin-left: 9px;
    font-family: 宋体;
    font-size: 16px;
}
.changHeight{
    height:342px;
}
.changHeight img{
    height: 100% !important;
}
.changMarginLeft{
    margin-left: 243px !important;
}.changWidth{
     width: 1230px !important;
 }
/*-------------------------------------------*/
/*======================第二幕=======*/
.se2_changMarin{
    margin-top: 54px;
}
.se_nav-ul{
    list-style: none;

}
.ul-default{
    /*border-bottom: 1px solid silver ;*/
    overflow: hidden;
}
.se_nav-ul li{
    float: left;
    width: 150px;
    border-bottom: 2px solid silver;
}
.se_nav-ul li a{
    width: 100%;
    height: 40px;
    text-align: center;
    display: inline-block;
    font-family: 华文楷体;
    font-size: 19px;
    text-decoration: none;
    color: #0f0f0f;

}
.active_bottom{
    border-color: green !important;
}
.se2_row2_maring-top_chang{
    margin-top: 31px;
}
.span_parent1{
    position: relative;
}
.span_parent{
    width: 50%;
    position: relative;
}
.span_posi{
        position: absolute;
        bottom: 0;
        left: 50%;
}
.se2_row_row_changMar_top{
    margin-top: 18px !important;
}
.changMarginLeft1{
    margin-left: 7px !important;
}
#row_col_md_8{
    margin-top: 76px;
}
.img_margin_Top{
    margin-top: 18px;
    margin-left: 18px;
}
#img_margin_left{
    margin-left: 18px;
}
/*======================================*/
/*--------------------第三内容--------------*/
#se3_contaniter{
    margin-top: 40px;
}
/*————————————————————————————————————————————*/
/*———————————————————第三内容区—————————————————————————*/
#small_Font_Size{
    font-size: 40%;
}
#back_color{
    background: rgb(242,242,242);
}
/*————————————————————————————————————————————*/
/*———————————————————第四内容区————————————————————*/
#small_Font_Size1{
    font-size: 40%;
}
.p_set{
    line-height: 24px;
    color: #0f0f0f;
    font-size: 10px;
    margin:18px 10px 0 10px ;
}
.changSpan_marginleft{
    margin-left: 23px;
}
.span_marginTop{
    margin-top: 17px;
}
#chang_row_margin_bottom{
    margin-bottom: 34px;
}
.se4_changMarin{
    margin-top: 30px;
}
/*————————————————————————————————————————————*/
/*——————————————————第五内容——————————————————————————*/
#small_Font_Size2{
    font-size: 40%;
}
.parent_experience{
    position: relative;
}
#experience{
    position: absolute;
    top: 0;
    right: 15px;
    height: 100%;
    width:50%;
    background:rgba(0,0,0,0.4);
}
.content{
    margin: 40px 40px 0 40px;
    line-height: 35px;
}
.content_a{
    margin: 134px 0 0 40px;
}
.chang_margin_top{
    margin-top: 39px;
}
/*————————————————————last————————————————————————*/
.back_Color{
    background: #65C973;
    height: 314px;
}
.font-chang{
    font-size: 14px;
    color: #ffffff;
    font-family: sans-serif;
}
.font-chang p{
    margin-top: 25px;
    line-height: 25px;
}

.ul_1 {
    list-style: none;
    margin-top: 25px;
    line-height: 25px;
}
.ul_2{
    list-style:none;
    margin-top: 25px;
    line-height: 25px;
}
.erweima_changMargin{
    margin: 40px 0 0 60px;
}
.back_Color1{
    background: #F2F2F2;
}
.chang_margin_top1{
    margin-top: 36px;
}
#hr_Color{
    border-top:2px solid #3dbd59;
}
#hr_Color1{
    margin-left: 32px;
    border-top:2px solid #3dbd59;
}
/*——————————————————————————————————————————————*/
/*———————————————————————content———————————————————————*/
.content_jianjie{
    margin-top: 6px;
    margin-left: 50px;
}
.change_i_margin_right{
    margin-right: 25px;
}
.img_size_controller{
    width: 160px;
    height: 118px;
}
.img_size_controller img {
    height: 100%;
    width: 100%;
}
/*——————————————————————————————————————————————*/
/*——————————————————saide————————————————————————————*/
.new_list ul li a {
    color: #000000;
    text-decoration: none;
    line-height: 30px;
}

/*——————————————————————————————————————————————*/
/*————————————————————detail——————————————————————————*/
.detail_content p {
    color: #000000;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}
.chang_Margin1{
    margin-top: 90px;
}
.detail_ul li a{
    line-height: 35px;
    text-decoration: none;
}
.detail_ul li i{
    margin-right: 40px;
}
.detail_comm p{
    color: #000;
}
.comm_margin_top{
    margin-top: 10px;
}
/*——————————————————————————————————————————————*/
/*——————————————————content修改————————————————————————————*/
.content_a_default_style a{
    text-decoration: none;
    color: #0f0f0f;
}
/*——————————————————————————————————————————————*/
.chang_weizhi{
    margin: 180px 250px ;
}
.span_parent img{
    margin-top: 10px;
}
.img_margin_tp{
    margin-top: 14px;
}
#lunbo{
    margin-top: 129px;
}

@media only  all and (max-width:991px){
    .chang_weizhi{
        margin: 50px 60px;
    }
    .span_parent{
        width: 100%;
    }
    .span_parent img{
        margin-top: 0;
    }
    .img_margin_tp{
        margin-top: 0;
    }
    #row_col_md_8 img{
        margin-bottom: 8px;
        margin-top: 0;
    }
    .new_list, pull-right{
        float: left !important;
    }
    .changImg_mar{
        width: 108% !important;
    }
    .chang_float{
        float: left !important;
    }
    #lunbo{
        width: 100%;

    }
    .content_jianjie{
        margin-left: 0px;
    }
}
@media only  all and (max-width:760px){
    #backgroun_color{
        background: #ffffff;
    }
}



